.timeline {
    background-color: black;
    height: 3px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.timeline div {
    text-align: center;
}

.first {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    bottom: 30px;
}

.first .event {
    position: relative;
    bottom: 20px;
    width: 180px;
    text-align: left;
}

.second {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    left: 230px;
    bottom: 77px;
}

.second .event {
    position: relative;
    bottom: 40px;
    width: 180px;
    right: 90px;
}

.third {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    left: 460px;
    bottom: 125px;
}

.third .event {
    position: relative;
    bottom: 20px;
    width: 180px;
    right: 90px;
}

.fourth {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    left: 690px;
    bottom: 175px;
}

.fourth .event {
    position: relative;
    top: -20px;
    width: 180px;
    right: 80px;
}

.fifth {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    left: 920px;
    bottom: 225px;
}

.fifth .event {
    position: relative;
    bottom: 42px;
    width: 180px;
    right: 90px;
    text-align: center;
}
.sixth {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    left: 650px;
    bottom: 243px;
}

.sixth .event {
    position: relative;
    top: 10px;
    width: 180px;
    right: 80px;
    text-align: center;
}

.seventh {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    left: 750px;
    bottom: 320px;
}

.seventh .event {
    position: relative;
    bottom: 80px;
    width: 180px;
    right: 80px;
    text-align: center;
}

.eighth {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    left: 850px;
    bottom: 340px;
}

.eighth .event {
    position: relative;
    top: 10px;
    width: 180px;
    right: 80px;
    text-align: center;
}

.ninth {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    left: 930px;
    bottom: 417px;
}

.ninth .event {
    position: relative;
    bottom: 80px;
    width: 180px;
    right: 80px;
    text-align: center;
}

.tenth {
    background-color: black;
    height: 30px;
    width: 5px;
    position: relative;
    left: 1030px;
    bottom: 437px;
}

.tenth .event {
    position: relative;
    top: 10px;
    width: 180px;
    right: 80px;
    text-align: center;
}

.content {
    display: none;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    max-height: 250px;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
    margin-top: 50px;
}
